{% if form.errors %}
<div class="br-message warning" role="alert">
  <div class="icon"><i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
  </div>
  <div class="content"><span class="message-title">Atenção.</span>
    <span class="message-body">
      {% for error in form.non_field_errors %}
      <p>{{error}}</p>
      {% endfor %}
      {% include "_form_field_error.html" %}
    </span>
  </div>
  <div class="close">
    <button class="br-button circle small" type="button" aria-label="Fechar"><i class="fas fa-times"
        aria-hidden="true"></i>
    </button>
  </div>
</div>
{% endif %}
