{% for message in messages %}
    <div class="br-message {{ message.tags }}" role="alert">
        <div class="icon"><i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
        </div>
        <div class="content">
            <span class="message-body">
                <div class="alert">
                    <p>{{ message|safe }}</p>
                </div>
            </span>
        </div>
        <div class="close">
        <button class="br-button circle small" type="button" aria-label="Fechar"><i class="fas fa-times" aria-hidden="true"></i>
        </button>
        </div>
    </div>
{% endfor %}