{% extends "base.html" %}

{% block content %}

<h1>Definir Reserva</h1>

<form method="post" autocomplete="off">
    {% csrf_token %}

    <section class="form container-fluid p-5x">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-12">
                <div class="col mb-3">
                    <div class="br-input">
                        {{ form.cnpj_empresa.label_tag }}
                        {{ form.cnpj_empresa }}
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="br-input">
                        {{ form.nome_empresa.label_tag }}
                        {{ form.nome_empresa }}
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="br-input">
                        {{ form.email_empresa.label_tag }}
                        {{ form.email_empresa }}
                    </div>
                </div>
                <div class="col mb-3">
                    {{ form.categoria_empresa.label_tag }}
                    {{ form.categoria_empresa }}
                </div>
                <span class="br-divider my-3"></span>
                <div class="col mb-3">
                    {{ form.stand.label_tag }}
                    {{ form.stand }}
                </div>
                <div class="col-md-1 col-lg-1 col-12">
                    <div class="br-input">
                        {{ form.quitado.label_tag }}
                        {{ form.quitado }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mt-2">
        <div class="row justify-content-between">
            <div class="col-lg-2 col-md-3  col-12 mt-3">
                <a type="button" class="br-button block" href="{% url 'stands:reservas-list' %}"> <i class="fas fa-times mr-1"
                        aria-hidden="true"></i>Cancelar</a>
            </div>
            <div class="col-lg-6 col-md-8 col-12">
                <div class="row justify-content-end">
                    <div class="col-lg-4 col-md-5 col-12 mt-3 ">
                        <button class="br-button primary block mt-3 mt-sm-0 " type="submit">
                            <i class="fas fa-check mr-1" aria-hidden="true"></i>
                            Finalizar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>

{% endblock %}
