{% extends "base.html" %}

{% block content %}

<h1>Lista de Stands</h1>

<table class="bg-gray-2">
    <thead>
        <tr>
            <th scope="col" class="text-blue-warm-vivid-70 text-center">Localização</th>
            <th scope="col" class="text-blue-warm-vivid-70 text-center">Valor</th>
            <th scope="col" class="text-blue-warm-vivid-70 text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td class="text-center">
                {{ object.localizacao }}
            </td>
            <td class="text-center">
                {{ object.valor }}
            </td>
            <td class="text-center">
                <a class="br-button circle"
                    type="button"
                    aria-label="detalhar"
                    title="visualizar"
                    href="{% url 'stands:stands-detail' object.pk %}">
                    <i class="fas fa-eye" aria-hidden="true"></i>
                </a>
                <a class="br-button circle"
                    type="button"
                    aria-label="editar"
                    title="editar"
                    href="{% url 'stands:stands-update' object.pk %}">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </a>
                <a class="br-button circle"
                    type="button"
                    aria-label="excluir"
                    title="excluir"
                    href="{% url 'stands:stands-delete' object.pk %}">
                        <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                <p>Não existem stands cadastrados.</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row justify-content-between mt-6">
    <div class="col-lg-1 col-md-2 col-sm-3 col-12">
        <a class="br-button block" href="{% url 'core:home' %}" type="button">
            <i class="fas fa-chevron-left mr-2" aria-hidden="true"></i>Voltar
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 pt-2 pt-sm-0">
        <a href="{% url 'stands:stands-create' %}" class="br-button primary block" type="button">
            <i aria-hidden class="fas fa-plus mr-2"></i> Cadastrar
        </a>
    </div>
</div>


{% endblock %}