{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block content %}
<h1>Forbidden (403)</h1>

<p>{% if exception %}{{ exception }}{% else %}Você não tem permissão para acessar esta página.{% endif %}</p>
<div class="row justify-content-between mt-6">
    <div class="col-lg-1 col-md-2 col-sm-3 col-12">
        <a class="br-button block" href="{% url 'core:home' %}" type="button">
            <i class="fas fa-chevron-left mr-2" aria-hidden="true"></i>Voltar
        </a>
    </div>
</div>
{% endblock content %}
